# Folders
*.iml
.gradle
local.properties
.idea
.DS_Store
.externalNativeBuild
.cxx
# Files
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
/local.properties
# Test Folders (not used in this project, hecne added to .gitignore)
/app/src/androidTest/java/com/example/vehicleinfocheck
/app/src/test/java/com/example/vehicleinfocheck
