# Folders
.gradle
.idea
/.idea/caches
/.idea/libraries
# Files
*.iml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
/local.properties
local.properties
.DS_Store
.externalNativeBuild
.cxx
# Test Folders (not used in this project, hence added to .gitignore)
/app/src/androidTest/java/com/example/vehicleinfocheck/
/app/src/test/java/com/example/vehicleinfocheck/